<div class="nav">
    <div class='w'>
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">login</span>
                <span class="link js-register">register</span>
            </span>
            <span class="user login">
                <span class="link-text">
                    Welcome,
                    <span class="username"></span>
                </span>
                <span class="link js-logout">exit</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="link">
                    <i class="fa fa-shopping-cart"></i>
                    shopping car(<span class="cart-cont">0</span>)
               </a>
                
            </li>
            <li class="nav-item">
                <a class="link" href="#">My order</a>
            </li>
            <li class="nav-item">
                <a class="link" href="#">User Center</a>
            </li>
            <li class="nav-item">
                <a class="link" href="#">About</a>
            </li>
    </div>
</div>